<div class="background">
    <a href="https://fr.wikipedia.org/wiki/Alan_Turing" target="_blank">
        <img
            class="alan-turing1 clickable-image"
            src="/assets/images/alan_turing.jpg"
            title="Alan Turing"
            alt=""
        />
    </a>
    <a href="https://fr.wikipedia.org/wiki/Grace_Hopper" target="_blank">
        <img
            class="grace_hopper1 clickable-image"
            src="/assets/images/Grace_Hopper2.jpg"
            title="Grace Hopper"
            alt=""
        />
    </a>
    <blockquote
        class="ada-citation1"
        title="Le temps lui a effectivement donné raison"
    >
        <p>
            « That brain of mine is something more than merely
            mortal, as time will show. »
        </p>
        <p style="text-decoration: underline; text-align: end">
            Ada Lovelace, la première programmeuse de l'histoire, 19e siècle
        </p>
    </blockquote>

    <div class="text1"><em>We truly stand on the shoulders of giants</em></div>

    <img src="/assets/images/teapot.svg" alt="" class="teapot" title="Un peu de thé ?">

    <pre class="arch-logo" title="I use arch btw">
                   A
                  /#\
                 /###\
                /#####\
               /#######\
              _ "=######\
             /##=,_\#####\
            /#############\
           /###############\
          /#################\
         /###################\
        /########*"""*########\
       /#######/       \#######\
      /########         ########\
     /#########         ######m=,_
    /##########         ##########\
   /######***             ***######\
  /###**                       **###\
 /**                               **\
    </pre>

    <img class="penseur" title="42" src="/assets/images/penseur5.webp" alt="">

    <pre class="margaret-hamilton" title="Je l'ai eu ! J'AI EU LA LUNE ! J'ai eu la lune !">
                                                                        /&@@@&&%%%                                                                 *%@#(//.                                             
                                                                      @@@@@%@@@@&&%##%#                            *#@@@%(/. ,,/#@@&#((/(/////////*/*/**/*#                                             
                                                                    @@@@@&@%(%@@%%%@%%&%%                         *****/****////////////////////*/***///*/(                                             
                                                                   @@@@@&@%%%###%%#%%&&@@&*                       ****/***////////////*****/(/#((/((//////(.                                            
                                                                  @@@@@@@%@@&////((#&@@&@@@*                      /(,,*,////////////////////////((////////@.                                            
                                                                 .@@@@@&@@@#((/(##(///#@@@@@                      **,*,,**//////(//((/(///////////////////#.                                            
                                                                 @@@@@@@@%&%((%#&&/(%/@%@@@@&                     ///////////((//(((/////(///(///(////////(,                                            
                                                                #@@@@@@@@%%#((((((((#//%%#@(@(                    */////////////(////////#(/////(//////////(                                            
                                                                @@@@@@@&%@%(((///(%((//(#(@*,                     ///##(((////////////////(///((/#//////////                                            
                                                               #@@@@@@@@#%%####&#(//(#((@%                      ((#@((#(((##(/**///((##(#%%%%##(((///**/#@@/@#/                                         
                                                              .%@@@@@@#@@@@@&##(((((###(@@                     %#((%&@(#(((##%((((((/((/((((((((/(///////(//////                                        
                                                             /%@@@@@@@@@@&@@@@%#(//(((#@@@@&                  %&%%#%@@(####%%///////////**/*/*////////(//////////                                       
                                                             @@@@@@@@@@@@@@@@@@@@@&(##@@@@@#%               /%%%%%&%#&@@@@&//((((((##((((((((((//////////////////,                                      
                                                            ,&@&@@@@@%@@@&@@@@%%%#%@@@@@@@@&&%             ####%%%#%@@@@@@@////(((((((((((//((//////////(##((((///.                                     
                                                            %&@&&@@@@@@&@@#@@%@###%@@@@@@@@@@&@@         @&@%(((#&/(@@@@@@@@@////(((((((((((((((//////(////////////                                     
                                                           &%@@@@@@@@@@@&@@#@@@&##&@@@@@@@@@@&@@@    .&@@&@@@@@%%/&@&@@@@@@@@@//////(((((((((((/(((////////////*//*/                                    
                                                          @&@@@@@@@@&@@@@@@%%#%@@@@@@@@@@@@@@@@@@@  %&&@@@@@@@@@&@&&@@@@&  ////////((((/((((/((((((((((((//////((/,                                     
                                                         /@%@@@#(#%@&@&@&@@@&&#@@@@@@@@@@@@@@@@@@@@@@#%@@&@@@@@@@%@@@@@/   ///////(((/(/(////////////////////////(                                      
                                                         /@&&@#%&#%%%%##&@@#@@@%@@@@@@@@@@@@@@@@@@@@@%&@@%@&@@@@@@@@@@     ///////////(((((((/////////////*///*//                                       
                                                         *@&@@@@@@@@&@%%%&&%%%#@&@&@@@&@@@@@@@@@@@@@@@&&@&@@@@@@&@@@@.    **///(((((/(//(/(//////(//////////////(                                       
                                                         &@@@@@@@@&@@@@@%#&%%%&#&%#%%%@%&@@@@@@@@@%@@@%&@@@@@@@@@@@@@#  (*//(#(##%&%##(((#((((((/((((((/////(/(*,                                       
                                                        %@@@@@@@@@@@&@%%&&&@@&&%#%&&%&%##%%&@@@&@&%&&@@&%@&@@@@@@@@@@@. &///(/(((((((((((/////(/////////(//////(,                                       
                                                       (@#@@@@@@@@@@@%&&@@@@@@@@@&@&&##@%@@&@@#@&%@%%@@@@@@@@@@@@@@     *////////////////(((((((//////////*/****#                                       
                                                        ,@@@@@@@@@@@@@@@@@@@@@@@@&@&%@%&&@#@@@@&@&&%&&@@@@@@@@@@@@%     ,&&%/#&&%%%&@@@@@@@@@@@@@@@@@@&%##(((%#(,                                       
                                                         #@(@@@@@@ @@@@@@@@@@@@@@@&%@&@@@@%@&@@@@@@@@@&@&&@@@@@@@(      .%(((((((((##(((((###(#(/((((((((((/(/(//,                                      
                                                           @@@ /@@  @@@@@@@@@@@@@@@@@@@@@@@@%@@@&@@@@@@@@@@@@@@@         ,&/(/((((((/////(((/((((((((((((//////(//                                      
                                                              # (#   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@              .@///((((/((((/(///(////(((#(((///(/////,                                     
                                                                      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                 @&////((((((((((((((/(//(((/(//(////(#&@%  (/                                 
                                                                       @@@@@@@@@@@&&&@@@@@@@@@@@@@@@@@@@@&               @@%&&&&&&@@@@@@@@@@@@@@@@@@&%(((/////(((/((/,                                  
                                                                        /@@@@@@@@&&@@@@@@@@@@@@@@@@@@@@@@@               ,,##*#//(%#(((((#%#%##%#((((((((//////////,                                    
                                                                          @@@@@@@@@&&@@&@@@@@@@@@@@@@@@@@@/               */%##////((((((/(/(////((/(((/((((((((((%,                                    
                                                                          @@@@@@&@@@@@@@@&&@@@@@@@@@@@@@@@@               /@(##(######%#((########&%#(((((/(/(%&%&(%                                    
                                                                         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@               ,#(//(/(###%%&&@@@@@@@@@@@@@@@@&%%%%%%&&%@                                    
                                                                         @@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@              .%%%%%#%%%#%%%%%%%#%#%###%#######%#####,#                                     
                                                                         @&@@@@@@@%@%%%%@@&&@@@@@@&&&@@@@@@@@             @%#######%%%#####%%#%##########((####%#,(                                     
                                                                         @@@@@@@&%%@@&@@@@@@@@@@@@@&&&@@@@@@@@           ,@@&%%%%%%%######%####%#%%%%#%%%%%&&%(#@@,                                     
                                                                        @@@&@@@@&%%%&&@@@@@&@@@@@%&@&@@@@@@@@@          %,*%#%//(((////((/(((((((((((((/////////(((/                                    
                                                                       /@@@@@&%%%%%%%###%&&&&@@@@@@@@@@@@@@@@@@         @@@@@/(//(((((((((((((((((((((((((((///////(                                    
                                                                       @@@@@@@@&&%%&&&&@@@@@@@@@@@@@@@@@@@@@@@@.       %%&@@@///((((((((((((((((((/(/(((//((/(//////                                    
                                                                       @@@@@&@@@@@%%&@@@@@@@@@&@@@@@@@@@@@@@@@@@       ,//((((((#(((##(###%%%%%#%%%##%%%##/////////                                     
                                                                       @@@@@@@@&%%%%%##%@@@@@@@@@@@@@@@@@@@@@@@@.     #//(/(((((/(((//(//(((///((/((/((((((((%@@*(#,                                    
                                                                      ,@@@&&@@@@@@&%%&@@&&@@@@@@@@@@@@@@@@@@@@@@@   @/((///*/////////////////(//*//////*//*///**(///                                    
                                                                      @@@@@@@@@@@@@&%%&@@@@@@@@@@@@@@@@@@@@@@@@@@  &@@%//((((###&/%%&&#(((#/*////(((//////(((((%%(,                                     
                                                                      @@@@@&@@@@@@&%%&%%%&@@@@@@@@@@@@@@@@@@@@@@@@   (&%((((((((#%&&&@@@@@@@@@@@@@@@&###((#////,                                        
                                                                      @@&&@&%%&@@@@&&%%@@@&@@@@@@@@@@@@@@@@@@@@@@@   #////(((###((((((((((((((((((((((((((%%&(                                          
                                                                      @@@@@&&@@@@&@@@@&%&@@@@@@@@@@@@@@@@@@@@@@@@@% .,(///(/((((((#(((((#((##(((((((((((/(((#                                           
                                                                      @@@&@@%&@@@@@&%%&&%%&@@@@@@@@@@@@@@@@@@@@@@@@ ,,&////((((/((((/((((((((((((((((((((((((                                           
                                                                      @@&&&&&&@@@@@@@@&%&@@@&@@@@@@@@@@@@@@@@@@@@@@ ,,,////(////(((((((((((((((((((((((((((((@@                                         
                                                                      *@@@@@&%@@@@@&@@@@&&@@@@@@@@@@@@@@@@@@@@@@@@@ ,,,*////////((((/(((((((((((/((((((((/(((@@@                                        
                                                                      @@@@@@@@@@@@@@&&%%%&&&@@@@@@@@@@@@@@@@@@@@@@@.,*@&/##/((((((//(((/(((((((////((/////(((&@@@                                       
                                                                      @&&&&@&&&&@@@@@&@&%&@@@@@@@@@@@@@@@@@@@@@@@@@(*//((/((((((((##(####(((#(##((#(((((((,                                             
                                                                      @@&@@@@@&&@@@@&&&@&&@@@@@@@@@@@@@@@@@@@@@@@@@ *////////////////(((////(/((((((((((((@                                             
                                                                      @@@@@@&@@@@@@@@@@&&&&@@@@@@@@@@@@@@@@@@@@@,.  ///(((////((((##(((((((/(/(((/((((((((@                                             
                                                                      @@&%@@@&&@@&&&&&@@&&@@@@@@@@@@@@@@@@@@,       /////////(////////(((//////((##(#(((//.                                             
                                                                      @@@@@@@&@@@@@@@%&@@&&@@@@@@@@@@@@@@@@,       /(#(/(#((#######(#%%&@@@%(*((((((((((#/                                              
                                                                      (@@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@#        *(@&(//((((((((((((((#((((((((////(///#                                              
                                                                         /@@@@@@&&&%%&@@@  &@@@@@@@@@@@@@@         //////////(((((((///(((#####((((((((((@                                              
                                                                         (@@@@@@&&&%%&&@   @@@@@@@@@@@@@@%         */////((((((///(##((((((((/(((((((((((% *@&%#                                        
                                                                         @@&&&@@&&%&%%&@   @@@@@@@@@@@@@@          /////(((/(((((((((((((((((((//(((((%@%##((((/.                                       
                                                                         @&&&&&&&&%%%&@@   @@@@@@@@@@@@@@          .//////(@@@@&&%%%############(#((#(#(((/((((/#                                       
                                                                        &&&&&&&&%%@&@@@    ,@@@@@@@@@@@@&                @##((#####(#((((((#####(((((##((/((((((/%                                      
                                                                       *%%%%%%%&%&&@@*     /@@@@&@@@@@@@                 @%((/(((#((((#((((((((#((((/(///((((/(////(                                    
                                                                       &%#%%%%%&%&@@/      @@@@@@@@@@@@@                  @@/(((///((((((//(((((((((((/(//((////////(                                   
                                                                      %%%%##%%#%%&&@      .@@@@@@@@@@@@@                  @@@/(#(///(((/((((((((((((/(((/((///(@@&#&/                                   
                                                                     #%%%%######%&@(      #@@@&&&&@&@@@@                  @@@@@/(/(##%%%#####((((((/////////////////*                                   
                                                                     @%%%%%#####%&@       @@@@&&&&&@@@@@                   @@@@(//((((#(((((((/((//(/(((((//////////&                                   
                                                                     @%%%%%#%##%&&@       %@&%&&&@@@@@@@                  /@@@(((((((((((((((((((((((#((//*//////(/(                                    
                                                                     /%%%%####%%%@         @&&&&@@@@@@@                  ,@@@&#(((#((((((#(((((((((((((((((((((((/(#                                    
                                                                      %%&%#%%%%%&@         @@@&&&@&@@@@                  #@@@/((###((##(((((((((((((((((((((((((/((#                                    
                                                                      &%%%%%%#%&@@         @@@@@@@@@@@.                 @%@@@///(((#((((/(//(////(///(((((((//*/#(/                                     
                                                                      &&%%%%%%%%@/         %@@&&&@@@@@                 @&@@@@(########((###(#((###(((((((/((#(((#((                                     
                                                                       &&%%%%%%&@          #@@@@@@&@@*                *%@@@@/(((((((((((((#(((((#(((((((((((((//((#                                     
                                                                       @@&%%%%%&@          .@@&@&@@@@                (##&@@@/((((////////////((((((((((///////////                                      
                                                                        @&%%%%%&@           @@@@&&@@@                @/((##%%##%&@&&%&@@@@&&%%%&%&&&@@@@&&%#((((/(                                      
                                                                        &@&%%#%%&           @@@@@@@@                ./((((((#####%#%%#%%#%#%%#%%%#%#######%@@@#                                         
                                                                         @&&%%#&@           @@@@@@@@.               #///(((((#####%###%##########%#########@@@#.                                        
                                                                         @@@&&&%@@         @@@@@@@@@,               @///((((((((#(##((###(###########(((((#@@@#/                                        
                                                                         @&&&%%%&@        *@@@@@@@@@@@@             @/(((((((((((((((((((((#((((((((####((#@@@#/                                        
                                                                       (%@&%%%%%%%@       @@@@@@@@@@@@@@@@          .////(((((((/(((((#((((((##((#((((((((#&@%(#                                        
                                                                      (@%%&%%####%%.      ,@@@@@@@@@@@@%%%@@@*        &@@@//(((((#(#########%#############((((((                                        
                                                                      @@@%##%%##@@@@@           @@@@@@@@@@@%&@@@@,     @@@/(%##((((((((((#(((((((#((((((((((((/(                                        
                                                                      @@@@@&(@@@&@@@/%@                %@@@@@@@@@@@&   @@@((#%#/(((((((((((((((((((((////((/////                                        
                                                                        #@@%@@##@@@@@@&#%.                             @@@((%##((((((((((((((((((((((/((////////                                        
                                                                           @@@@@@@@@@@@@@@@@                          *@@@//(##(((/((/(/(/(((///////(/((////////.                                       
                                                                              .@@@@@@@@@&@&@                          (&&%(((((###(//(/((#%%%%%%%##(///////////*                                        
                                                                                                                      #((#/((((((((/(/((/((////(((((((((((((((//                                        
    </pre>
</div>