.contact {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.contact > div {
    width: 80%;
    margin: auto;
}

.contact a {
    color: var(--primary-font-color);
    text-decoration: none;
}